@media only screen and (max-width: 768px) {
    /* BODY-->MAIN */
     main{
        width: 100%;
        margin: 0;
    }
    nav{
        width: 100%;
        margin: 0;
    }
    footer{
        width: 100%;
        margin: 0;
    }
   
   
}
@media only screen and (max-width: 500px) {
  
    #coaches{
        width: 100%;
        margin: 0;
    }
    #coachPicture{
       height: auto;
    }
   
}